/* RESET DE MARGENES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /* FIN DE RESET DE MARGENES */

/* ESTILO Y COLOR DE TEXTO */
h1, h2, h3, article, div, section, fieldset {
    font-family: "Roboto", sans-serif;
    color: rgb(11, 9, 9);
}

h3{
    margin: 40px;
}
  /* FIN DE ESTILO Y COLOR DE TEXTO */

#title {
    color: rgb(11, 9, 9);
    background: linear-gradient(rgb(215, 122, 16)10%, rgb(255, 255, 255) );
    display: flex;
    justify-content: flex-start;
    font-size: 32px;
    height: 110px;
    width: auto;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
}

h2 {
    color: rgb(11, 9, 9);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart {
    margin-right: 5px;
    justify-content: space-between;
}

#cartQuantity {
    padding-left: 10px;
}

.itemListContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.itemContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

#productDetail{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buttonContainerQuantity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

#buttonContainerAux{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}